<!DOCTYPE html>
<html>
<head>
<style>

h1 {text-align: center;
}
     .button {
        background-color: #D3D3D3;
        border: none;
        color: black;
        padding: 10px 17px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: arial;
      }
           .button2 {
        background-color: #2727ff;
        border: none;
        color: white;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-family: arial;
        margin: 4px 2px;
        cursor: pointer;
      }

</style>
</head>
<body>
<h1>Restaurant Review</h1>
<br>
<center><a href="/signup" class="button">Sign Up</a>

<a href="/login" class="button2">Log In</a>

<br> <br> <br>
<center>
<img src="https://www.lionsdeal.com/blog/wp-content/uploads/2017/09/food-critic_resized.jpg"  width="819" height="438">

</body>
</html>
