<center><h2>Hi! Welcome to the Restaurant Review. What would you like to do?</h2>


<a class="button" href="/reviews/new"> Write a new review</a> <br> <br> 

<a class="button" href="/reviews"> See or edit your reviews </a> <br> <br> 

<br> 
<a class="button" href="/logout"> Log Out </a>